* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  scroll-behavior: smooth;
}

h1 h2 h3 h4 h5 h6 {
  font-weight: normal;
}
body {
  position: relative;
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.7rem 0.7rem;
    background-color: rgb(99, 83, 83);
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0;
    z-index: 5;
    opacity: 0.95;

    h1 {
      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
        transition: 0.25s ease;
      }

      a:hover {
        color: wheat;
      }
    }

    div.logo {
      display: flex;
      align-items: center;
      flex: 5 1 400px;

      img {
        width: 50px;
      }

      div.hambuger-div {
        nav.hambuger {
          display: none;
        }
      }
    }

    nav.pc {
      flex: 2 1 400px;

      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;

        li {
          a {
            text-decoration: none;
            color: white;
            transition: all 0.25s ease;
          }

          a:hover {
            color: wheat;
          }
        }

        li.service-nav {
          position: relative;
          //
          nav.service-nav-open {
            display: none;
            ul {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 2px;
              z-index: 10;

              li {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: black;
                border: 4px solid wheat;
                border-top: 1px;
                border-top: 1px;

                opacity: 0.95;
                padding: 0.6rem 0.4rem;
                width: 150px;
                height: 60px;
                cursor: pointer;
                transition: all 0.25s ease;
              }

              li:hover {
                background-color: wheat;
              }
            }
          }

          nav.service-nav-mouseover {
            display: block;
          }
        }
      }
    }

    nav.hambuger-nav {
      display: none;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;

    section.backImage {
      width: 95%;
      background-color: whitesmoke;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      margin: 0.1rem;

      h1 {
        font-size: 6rem;
        color: #779198;
        transition: 0.25s ease;
        margin-top: 1rem;
      }

      section.rential-step {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0rem;
        color: #779198;

        i {
          font-size: 2rem;
        }

        div {
          margin: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        div.rential-step-picture {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px;
          border-style: solid;
          border-color: #779198;
          border-radius: 50%;

          i {
            font-size: 2rem;
            padding: 1.5rem;
          }
        }
      }

      section.commodity {
        i {
          pointer-events: none;
        }
        div.commodity-floor {
          display: flex;
          flex-wrap: wrap;
          margin: 2rem 0rem;
          div.commodity-card {
            border: 3px;
            border-style: solid;
            border-color: #779198;
            border-radius: 10px;
            overflow: hidden;
            // height: 350px;
            width: 300px;
            margin: 0rem 1rem;
            background-color: #d9d9d9;
            transform: translateY(-10px) rotate(0);
            box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.6);
            transition: all 1s ease-in-out;
            &:hover {
              transform: rotate(5deg) scale(1.1);
              transition: all 1s ease-in-out;
              z-index: 10;
              background-color: #779198;
              border-color: wheat;
              h3 {
                color: whitesmoke;
                transform: rotate(-5deg);
                transition: all 1s ease-in-out;
              }

              button.commodity-button {
                transform: rotate(-5deg);
                transition: all 1s ease-in-out;
              }
            }

            div.commodity-img {
              overflow: hidden;
              height: 200px;
              width: 300px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.25s ease;
              }

              img:hover {
                transform: scale(1.2);
              }
            }

            div.commodity-word {
              display: flex;

              div {
                flex: 1 1;
                margin: 0.5rem;
                h3 {
                  font-size: 1.1rem;
                }
              }

              div.commodity-button-div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button.commodity-button {
                  font-size: 1.5rem;
                  background-color: #779198;
                  color: whitesmoke;
                  width: 100px;
                  height: 50px;
                  border: 2px wheat solid;
                  border-radius: 5px;
                  cursor: pointer;
                  margin: 0.3rem;
                  transition: 0.25s ease;
                }

                button:hover {
                  background-color: whitesmoke;
                  color: #779198;
                  border-color: #779198;
                }
              }
            }
          }
        }
      }
    }

    section.second {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 95%;
      background-color: #779198;
      color: whitesmoke;
      border-radius: 20px;
      height: auto;

      h2 {
        font-size: 6rem;
      }

      div.list-discription {
        display: flex;
        width: 700px;
        justify-content: space-around;
        border-bottom: 2px whitesmoke solid;
        margin-bottom: 1rem;

        h3 {
          font-size: 2rem;
        }
      }

      div.my-list {
        div.list-equipment {
          display: flex;
          width: 700px;
          justify-content: space-between;
          background-color: whitesmoke;
          color: black;
          border-bottom: 2px solid black;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            width: 140px;
            i {
              font-size: 2rem;
              cursor: pointer;
            }
          }

          div.list-product {
            img {
              width: 140px;
              padding-left: 1rem;
            }
          }

          .quantity-button {
            border: none;
            background-color: rgba(119, 145, 152, 0.5);
            border-radius: 100px;
            padding: 0.5rem;
            font-size: 2rem;
            margin: 0rem 1.5rem;
            cursor: pointer;
            &:hover {
              background-color: whitesmoke;
              border: solid 1px #779198;
            }
          }
        }
      }

      div.total {
        font-size: 3rem;
        margin: 0.5rem;
      }

      button.clear-all-list-button {
        margin-bottom: 0.5rem;
        height: 50px;
        width: 150px;
        font-size: 1rem;
        border: rgb(62, 61, 61) solid 1px;
        border-radius: 10%;
        cursor: pointer;
      }
    }

    form.information {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 95%;
      background-color: #779198;
      color: whitesmoke;
      border: whitesmoke 2px solid;
      width: 700px;
      margin: 2rem;

      h2 {
        font-size: 3rem;
        margin: 0.5rem;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 1.5rem;

        input,
        select {
          width: 500px;
          height: 50px;
          border-radius: 2%;
        }

        textarea {
          width: 500px;

          border-radius: 2%;
        }
      }

      button {
        margin: 1rem;
        height: 50px;
        width: 150px;
        background-color: wheat;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 2%;
      }
    }
  }

  section.add-list-success {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    div {
      background-color: rgba(245, 245, 245, 1);
      color: black;
      width: 40vw;
      height: 34vh;
      border-radius: 4%;
      border: #779198 solid 5px;
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: 5rem;
        color: green;
      }

      h3 {
        margin: 1rem;
      }

      button.list-success-ok-button {
        font-size: 1.5rem;
        background-color: #779198;
        color: whitesmoke;
        height: 50px;
        width: 150px;
        border: 3px solid #d9d9d9;
        border-radius: 5%;
        cursor: pointer;
        margin: 0.3rem;
        transition: 0.25s ease;
      }

      button:hover {
        background-color: #d9d9d9;
        color: black;
        border-color: #779198;
      }
    }
  }

  section.add-list-success-alert {
    display: block;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      margin-top: -17vh; /* Negative half of height. */
      margin-left: -20vw; /* Negative half of width. */
    }
  }

  footer {
    background-color: rgb(99, 83, 83);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div.social {
      display: flex;
      justify-content: center;
      align-items: center;

      h6 {
        font-size: 1.5rem;
      }

      div.socialicon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0rem 0.8rem;
      }

      i {
        font-size: 3rem;
        color: white;
        cursor: pointer;
        transition: 0.25s ease;
      }

      i:hover {
        color: wheat;
      }
    }

    h5 {
      font-size: 1.3rem;
      margin: 0.1rem;
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    header {
      div.logo {
        display: flex;

        div.hambuger-div {
          display: flex;
          justify-content: end;
          width: 50vw;
          nav.hambuger {
            display: block;
            color: white;
            font-size: 2rem;

            i:hover {
              color: wheat;
              cursor: pointer;
              transition: 0.25s ease;
            }
          }
        }
      }

      nav.hambuger-nav {
        width: 100vw;
        height: 100vh;
        ul {
          display: flex;
          flex-direction: column;
          list-style-type: none;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0rem;

            a {
              text-decoration: none;
              color: white;
              transition: all 0.25s ease;
              border-bottom: 2px solid white;
            }

            a:hover {
              color: wheat;
            }
          }
        }
      }

      nav.hambuger-nav.click-hambuger {
        display: block;
      }

      nav.pc {
        display: none;
      }
    }

    main {
      section.backImage {
        h1 {
          font-size: 4rem;
        }

        section.commodity {
          div.commodity-floor {
            div.commodity-card {
              margin: 0rem 0.2rem;

              width: 230px;

              div.commodity-img {
                width: 230px;
              }

              div.commodity-word {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }

      section.second {
        h2 {
          font-size: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    main {
      section.backImage {
        h1 {
          font-size: 2rem;
          margin: 1rem;
        }

        section.rential-step {
          display: none;
        }

        section.commodity {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div.commodity-floor {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0rem;
            div.commodity-card {
              margin: 1rem 0rem;

              width: 300px;

              div.commodity-img {
                width: 300px;
              }

              div.commodity-word {
                flex-direction: row;
              }
            }
          }
        }
      }

      section.second {
        h2 {
          font-size: 2rem;
          margin: 1rem;
        }

        div.list-discription {
          width: 350px;

          h3 {
            font-size: 1rem;
          }
        }

        div.my-list {
          div.list-equipment {
            width: 350px;

            div {
              width: 70px;
            }

            div.list-product {
              img {
                width: 70px;
              }
            }

            .quantity-button {
              display: none;
            }
          }
        }

        div.total {
          font-size: 3rem;
        }

        form.information {
          width: 350px;

          div {
            input,
            select {
              width: 300px;
            }

            textarea {
              width: 300px;

              border-radius: 2%;
            }
          }
        }
      }
    }

    section.add-list-success {
      div {
        i {
          font-size: 3rem;
        }

        h3 {
          font-size: 0.8rem;
        }

        button.list-success-ok-button {
          width: 80px;
          height: 50px;
        }
      }
    }

    footer {
      h5 {
        font-size: 0.8rem;
      }

      div.youtube {
        h6 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes slidedown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
