* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  scroll-behavior: smooth;
}

h1 h2 h3 h4 h5 h6 {
  font-weight: normal;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.7rem 0.7rem;
  background-color: rgb(99, 83, 83);
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 5;
  opacity: 0.95;
}
header h1 a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: 0.25s ease;
}
header h1 a:hover {
  color: wheat;
}
header div.logo {
  display: flex;
  align-items: center;
  flex: 5 1 400px;
}
header div.logo img {
  width: 50px;
}
header div.logo div.hambuger-div nav.hambuger {
  display: none;
}
header nav.pc {
  flex: 2 1 400px;
}
header nav.pc ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav.pc ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.25s ease;
}
header nav.pc ul li a:hover {
  color: wheat;
}
header nav.pc ul li.service-nav {
  position: relative;
}
header nav.pc ul li.service-nav nav.service-nav-open {
  display: none;
}
header nav.pc ul li.service-nav nav.service-nav-open ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  z-index: 10;
}
header nav.pc ul li.service-nav nav.service-nav-open ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 4px solid wheat;
  border-top: 1px;
  border-top: 1px;
  opacity: 0.95;
  padding: 0.6rem 0.4rem;
  width: 150px;
  height: 60px;
  cursor: pointer;
  transition: all 0.25s ease;
}
header nav.pc ul li.service-nav nav.service-nav-open ul li:hover {
  background-color: wheat;
}
header nav.pc ul li.service-nav nav.service-nav-mouseover {
  display: block;
}
header nav.hambuger-nav {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
main section.backImage {
  min-height: 750px;
  width: 95%;
  background-color: #545454;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20% 30% 50% 70%;
  margin: 0.1rem;
}
main section.backImage h1 {
  font-size: 6rem;
  color: white;
  transition: 0.25s ease;
}
main section.backImage h1:hover {
  color: wheat;
}
main section.backImage div img {
  width: 400px;
  border-radius: 50%;
}
main section.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  background-color: whitesmoke;
  color: black;
  border-radius: 50% 70% 30% 20%;
}
main section.second h2 {
  font-size: 8rem;
}
main section.second section.crads {
  display: flex;
  flex-wrap: wrap;
}
main section.second section.crads div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
  height: 500px;
}
main section.second section.crads div.card h3 {
  font-size: 1.5rem;
}
main section.second section.crads div.card div.image-container {
  overflow: hidden;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
main section.second section.crads div.card div.image-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s ease;
  cursor: pointer;
}
main section.second section.crads div.card div.image-container img:hover {
  transform: scale(1.3);
}
main section.second section.crads div.card p {
  font-size: 1rem;
}
main section.third {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  border-radius: 1.5%;
}
main section.third h2 {
  font-size: 8rem;
  color: wheat;
}
main section.third section.thirdcard {
  display: flex;
  flex-wrap: wrap;
  color: wheat;
  margin-bottom: 10rem;
}
main section.third section.thirdcard div.workcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 200px;
  margin: 1rem;
}
main section.third section.thirdcard div.workcard h4 {
  font-size: 2rem;
  margin: 2rem 0rem;
}
main section.third section.thirdcard div.workcard a div.workimgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}
main section.third section.thirdcard div.workcard a div.workimgbox img {
  width: 400px;
  position: relative;
}
main section.third section.thirdcard div.workcard a div.workimgbox h3.workword {
  display: none;
  text-decoration: none;
  color: black;
  position: absolute;
}
main section.third section.thirdcard div.workcard a:hover div.workimgbox {
  background-color: wheat;
}
main section.third section.thirdcard div.workcard a:hover div.workimgbox img {
  opacity: 0.3;
}
main section.third section.thirdcard div.workcard a:hover div.workimgbox h3.workword {
  display: block;
}

footer {
  background-color: rgb(99, 83, 83);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer div.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.social h6 {
  font-size: 1.5rem;
}
footer div.social div.socialicon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0.8rem;
}
footer div.social i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}
footer div.social i:hover {
  color: wheat;
}
footer h5 {
  font-size: 1.3rem;
  margin: 0.1rem;
}

@media screen and (max-width: 850px) {
  header div.logo {
    display: flex;
  }
  header div.logo div.hambuger-div {
    display: flex;
    justify-content: end;
    width: 50vw;
  }
  header div.logo div.hambuger-div nav.hambuger {
    display: block;
    color: white;
    font-size: 2rem;
  }
  header div.logo div.hambuger-div nav.hambuger i:hover {
    color: wheat;
    cursor: pointer;
    transition: 0.25s ease;
  }
  header nav.hambuger-nav {
    width: 100vw;
    height: 100vh;
  }
  header nav.hambuger-nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  header nav.hambuger-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
  }
  header nav.hambuger-nav ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.25s ease;
    border-bottom: 2px solid white;
  }
  header nav.hambuger-nav ul li a:hover {
    color: wheat;
  }
  header nav.hambuger-nav.click-hambuger {
    display: block;
  }
  header nav.pc {
    display: none;
  }
  main section.backImage h1 {
    font-size: 4rem;
  }
  main section.second h2 {
    font-size: 6rem;
    margin-top: 30px;
  }
  main section.second section.crads div.card {
    margin: 1rem;
  }
  main section.second section.crads div.card div.image-container {
    height: 200px;
    width: 200px;
  }
  main section.second section.crads div.card div.image-container img {
    height: 200px;
  }
  main section.third h2 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 767px) {
  main section.backImage {
    border-radius: 10px;
    min-height: 500px;
    background-color: black;
  }
  main section.backImage h1 {
    font-size: 2rem;
  }
  main section.backImage div {
    margin-top: 50px;
  }
  main section.backImage div img {
    width: 300px;
  }
  main section.second {
    border-radius: 10px;
  }
  main section.second h2 {
    font-size: 4rem;
  }
  main section.second section.crads {
    justify-content: center;
    align-items: center;
  }
  main section.second section.crads div.card {
    height: 400px;
  }
  main section.third h2 {
    font-size: 4rem;
  }
  main section.third section.thirdcard div.workcard a div.workimgbox img {
    width: 300px;
  }
  footer h5 {
    font-size: 0.8rem;
  }
  footer div.youtube h6 {
    font-size: 0.8rem;
  }
}
@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes slidedown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=style.css.map */